@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* color: white; */
    font-family: 'poppins';
}

body {
    background-color: black;
}

.main {
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    gap: 23px;
    text-align: center;
    padding: 0 23px;

}

.hero> :first-child {
    font-size: 48px;
    font-weight: bold;

}

.hero> :nth-child(2),
.hero> :nth-child(3) {
    font-size: 20px;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 400;
    border: none;

}

.btn-red-sm {
    background-color: red;
    color: white;
    border: none;
}

.main input {
    padding: 7px 7px 8px 14px;
    width: 200px;
    /* font-weight: 900; */
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

@media screen and (max-width: 800px){
    nav{
        width: 90vw;
    }
    .hero> :first-child {
        font-size: 32px;
        font-weight: bold;

    }

    .hero> :nth-child(2),
    .hero> :nth-child(3) {
        font-size: 18px;
    }
    
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
        padding: 34px;
    }
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 401px;
    position: absolute;
    top: 90px;
    left: 74px;
}

@media screen and (max-width: 555px) {

    .secImg img {
        width: 300px;
        position: relative;
        z-index: 10;
    }

    .secImg video {
        width: 216px;
        position: absolute;
        top: 49px;
        left: 41px;
    }
    .hero-buttons{
        flex-direction: column;
    }
}

.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;

}

.faq {
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    cursor: pointer;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #414141;
    transition: background-color 0.5s;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    font-size: 14px;
    padding: 34px;
}

footer span {
    display: block;
    padding: 34px 0;
}

footer a {
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
